img {
    width: 400px;
    margin-bottom: 20px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.home-grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

h1 {
    font-size: 120px;
    font-family: 'Roboto';
    letter-spacing: 7px;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: 1;
}

h2 {
    font-family: 'Roboto';
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: bolder;
    color: rgb(187, 10, 10);
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 250px;
 }

 .cherry{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 500px;
    grid-column: 2;
    background-color: lightgray;
 }



